html {
	background-image: url("../images/background.jpg");	
    background-size:cover;
}
body  {
	font-family:fantasy;
	width: 1000px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header { 
    background-image: url("../images/images.png");
    background-repeat: no-repeat;
    background-size: 600px 90px;
    background-position: right;
    
  
} 
header img { 
	float: left; 
	padding-right: 15px;  
} 
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
}

/* Navigation menu */
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 200px;
	padding: .7em 0;
	text-decoration: none;
	background-color: palevioletred;
	color: white;
}
#nav_menu ul li a.current {
	color: orange;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}
#nav_menu ul ul ul{
    display: none;
    position: absolute;
    top:50%;
        left:100%;
}

/* Sidebar */
aside {
	float: left; 
	width: 160px;
	padding: 20px 0; 
}
#nav_list ul { 
	list-style: none;
	padding-left: 1.5em;
    padding-top: 1em;
}
#nav_list ul li { 
	width: 130px;
	margin-bottom: .5em;
	border: 2px solid black; 
    border-radius: 10px;
    box-shadow: 3px 3px 3px red;
}
#nav_list ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	background-color: lightcoral;
	padding: .5em 0 .5em .5em;
	color: black;
}

/* Section */
section {
	width: 580px;
	float: left;
	padding: 20px 40px 20px 20px;	
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}

section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
	margin-bottom: .5em;
}
section a {
	font-weight: bold;
	color: mediumvioletred;
}
section a:link, main a:visited { 
    color: mediumorchid; 
}
section a:hover, main a:focus { 
    color: burlywood;
}


/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, black 0%, red 45%, white 90%);
    background-image: -moz-linear-gradient(45deg, black 0%, red 45%, white 90%);
    background-image: -o-linear-gradient(45deg, black 0%, red 45%, white 90%);
    background-image: linear-gradient(45deg, black 0%, red 45%, white 90%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}